<header class="bg-gray-300 p-4">
  <div class="flex container justify-between">
    <a href="/">Shento's Astro Blog</a>
    <nav class="flex gap-4 justify-end">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
    </nav>
  </div>
</header>
